/* Start variables */
:root{
    --main-color: #1f2021;
    --secondary-color: #00c7fc;
    --third-color: #db067b;
    --fourth-color: #4a4b4c;
    --fifth-color: #dbdbdb;
    --sixth-color: #b9b9b9;
    --seven-color: #ffffff;
    --section-padding: ;
    --section-background: ;
    --main-duration: ;
}

html{
    scroll-behavior: smooth;
}

/* End variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}
/* End Global Rules */
/* Start Home */

.home{
    background-color: black;
    width: 100%;
}

.home .container{
    background-color: yellow;
    width:960px;
	margin:0 auto;
}




/* End Home */