/* Start variables */
:root{
    --main-color: #1f2021;
    --secondary-color: #00c7fc;
    --third-color: #db067b;
    --fourth-color: #4a4b4c;
    --fifth-color: #dbdbdb;
    --sixth-color: #b9b9b9;
    --seven-color: #ffffff;
    --container-width: 1170px;

}

html{
    scroll-behavior: smooth;
}

/* End variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}
/* End Global Rules */
/* Start Home */

.home{
    background-image: url(/images/noir-1.jpg);
}

.home .container{
    
    width:1170px;
	margin:0 auto;
}

.home .container .header{
    height: 90px;
    display: flex;
    align-items: center;
}

.home .container .header .links{
    list-style-type: none;
    
}

.home .container .header .links li {
    display: inline-block;
    font-size:17px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    
}

.home .container .header .links li a{
    padding-right: 40px;
    text-decoration: none;
    color: var(--seven-color);
    transition: all 0.3s ease;
    text-align: center;
}

.home .container .header .links li a:hover{
    padding-bottom: 30px;
    color: var(--secondary-color);
    
}

.home .container .header .logo img{
    width:150px;
	height:60px;
    margin-right: 150px;
}

.home .container .header .search{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 160px;
    height: 30px;
}

.home .container .header .search i{
    font-size:20px;
    color: var(--seven-color);
}
.container .header .search .line-v{
    position: absolute;
    left: 70%;
    width: 2px;
    height: 30px;
    background-color: var(--sixth-color);
}

.home .container .separator{
    margin-top: -5px;
    background-color: var(--seven-color);
    height: 0.5px;
}

.home .container .info{
    margin-top: 120px;
    width: 600px;
    padding: 20px 0 0 130px;

    border: none;
}

.home::before{
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    height: 256px;
    width: 780px;
    /* background-color: var(--secondary-color); */
    
}

.home .container .info h3{
    color: var(--seven-color);
    line-height: 40px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
}

.home .container .info .info-home {
    color: var(--seven-color);
    line-height: 25px;
    margin-top: -15px;
    font-size: var(--p-info);
}

.home .arrow{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.home .arrow .right-arrow i{
    color: var(--fifth-color);
    position: absolute;
    top: -160px;
    right: 0;
    margin-right: 15px;
}

.home .arrow .left-arrow i{
    color: var(--fifth-color);
    position: absolute;
    top: -160px;
    left: 0;
    margin-left: 15px;
}

.home .container .navigation{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    border:none;
}


.home .container .navigation i:nth-child(1),
.home .container .navigation i:nth-child(3)
{
    color: var(--main-color);
    border: 1px solid var(--fifth-color);
    font-size: 9px;
    border-radius: 50%;
}

.home .container .navigation i:nth-child(2){
    color: var(--secondary-color);
    font-size: 9px;
}

/* End Home */

/* Start services */
.services{
    background-color: var(--fifth-color);
}

.services .container{
    background-color:red;
}

.services .container .title-services h4{
    margin-top: 0;
    padding-top: 30px;
}

.services .container .title-services .info-services{
    font-size: 17px;
}

/* End services */